body {background-color:#272640;
      color: #ffffff;}	
thead, th {background-color: #2E4260;
           font-weight: bold;
		   font-size: 1.25em;
		   padding:15px;
		   margin: 10px;}			   
table {background-color: #356482;
	   border-collapse: collapse;
	   margin-left: 15%;}
	   
.header {background-color: #20465A;
         width:100%;
		 height:55px;
         text-align: center;
  		 font-weight: bold;
		 font-size: 2em;        
		 padding-top:15px;}		
tr:hover {background-color: #2E4260;}
tr, td {padding:5px;
        vertical-align: bottom;}
h3{margin-left:15%;}

ul {list-style-type: none;
    padding: 0;
    overflow: hidden;
	text-align: center;
    background-color: #20465A;}	
li {float: left;
    width:auto;
    margin-left: auto;}
li a {display: block;
      color: white;
      text-align: center;
	  font-weight: bold;
	  font-size: 1em;
	  padding: 14px 16px;
	  margin:0px;
      text-decoration: none;}
a:visited {color: #68a8ca;}	  
li a:hover {background-color: #2F5975;}

   
